html, body{
    height: 100%;
    width: 100%;
    background: url(https://www.xmple.com/wallpaper/linear-orange-black-gradient-highlight-1920x1080-c2-000000-ff4500-l-67-a-345-f-21.svg);
}

a {
    color: blue;
    background-color: burlywood;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: 'PT Serif', serif;
    background-color:black;
    overflow: hidden;
}

.navbar a{
    float: left;
    font-size: 18px; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px; 
    background-color: inherit;
    margin:0; 
    font-family: 'PT Serif', serif;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: orange;  
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px; 
    text-decoration: none;
    display: block; 
    text-align: left;
    background-color:black;
}

.dropdown-content a:hover {
    background-color: orange;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

@media screen and (max-width: 300px) {
    .navbar a:not(:first-child){display:none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0; 
        top: 0; 
    }
    .navbar.responsive a {
        float: none;
        display: block; 
        text-align: left; 
    }
}

.companylogo{
    height: 200px;
    width: 200px;
    float: left;
    margin: -50px 0px 0px 0px;
    position: absolute;
    clip: rect(50px, 179px, 140px, 10px);
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

/*---Footer---*/
footer{ 
    width: 100%;
    background-color: black;
    padding: 60px 0px;
}

footer nav {
    float: left; 
}

footer nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

footer nav ul li a {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: black;
    text-decoration: none;
}

/*--Google Maps Styling--*/
#map {
    position: absolute;
    border:2px solid black;  
    top: 200px; 
    right: 40px; 
    height: 400px;
    width: 50%;
}
/*return button near footer*/
.clickbackhome a{
    background-color: transparent;
    color: palegoldenrod;
    text-decoration: none;
}

/*Action Box*/
#responsebox{
    position: relative;
    right: -12%;
}
#responsebox input{
    width:400px;
}

#contactdetails{
    position: relative;
    right: -12%; 
}

#vision p{
    position: relative; 
    right: -1%;
}

#vision ul li{
    position: relative; 
    font-size: 18px;
    margin-left: 10px;
    list-style-type: disc;
    color: palegoldenrod;
    right: -3%;

}

#abouttext p {
    line-height: 1.4; 
    position: relative; 
    right: -1%;
}

.container-row{
    width: 90%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px 0px;
}

.container-row ul{
    padding: 0px;
    margin: 0px;
}

.container-row ul li {
    list-style: none;
    float: left;
    width: 20%;
    height: 350px;
    margin: 40px 30px 0px 20px;
    box-sizing: border-box;
    border: 3px solid #807979;
}

.container-row ul li:hover{
    opacity: 0.9;
    cursor: pointer;
}

.container-row ul li img:hover{
    transform: scale(1.1);
}

.container-row ul li .title-img:hover{
    background: black;
    color: white;
}
.container-row ul li img {
    width: 100%;
    height: 250px;
    margin: 20px 0px 0px 0px;
}

.container-row ul li .title-img{
    width: 100%;
    height: 35px;
    line-height: 40px; 
    background: white; 
    text-align: center;
}

.container-row ul li .price{
    width: 100%;
    line-height: 35px;
    color: palegoldenrod;
    background: green;
}

@media screen and (max-width: 1250px){
    .container ul li{
        width: 40%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 750px){
    .container-row{
        width: 100%;
        padding: 0px;
    }
    .container-row ul li{
        float: none;
        width: 90%; 
        margin: 40px auto;
    }
}

#ReturnPolicyText{
    position: relative;
    color:palegoldenrod;
    right: -6%; 
}