a {
    color: blue;
    background-color: burlywood;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'PT Serif', serif;
    background-color: mediumpurple
}

.logo {
    color: cornsilk; 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: cornsilk;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}