a {
    color: blue;
    background-color: burlywood;
}

.topnav{
    background-color: black;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: red;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: white;
}